{
  email pablo.pinas@edu.uah.es
  # debug   # (opcional)
}

# --- API (gateway) ---
api.pablopinas.com {
  @health path /health /healthz /actuator/health
  handle @health {
    reverse_proxy gateway:{$GATEWAY_PORT}
  }

  reverse_proxy gateway:{$GATEWAY_PORT}
}

# --- Keycloak ---
auth.pablopinas.com {
  reverse_proxy keycloak:8080
}

# --- Frontend ---
tfg.pablopinas.com {
  reverse_proxy frontend:3000
}
